---
---
.download-opening-bracket:before {
    float: right;
    content: '[';
}

.download-closing-bracket:before {
    float: right;
    content: ']';
}

.download-left {
    width: 90%;
}

.download-right {
    width: 10%;
    min-width: 50px;
    align-self: center;
}

.download-toggle {
    float: right;
    cursor: pointer;
    color: #2d9f00;
}

.download-container {
    margin-bottom: 10px;
    margin-right: 20%;
}

.download-title {
    margin-right: 10%;
    color: #414141;
    font-size: 30px;
    padding: 0px;
}

.download-button a {
    color: #414141;
}

.download-button span{
    display: inline-block;
    width: 100%;

    padding-top: 10px;
    padding-bottom: 10px;
}

.download-button {
    background-color: #7ec283;
    border-style: none;
    text-align: left;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.download-button:hover {
    background-color: white;
}
{% assign all_os = "linux,windows,apple,android,switch,source" | split: ',' -%}
{%- for os in all_os %}
input[id="{{ os }}-download-callback"] {
    float: right;
    display: none;
}

input[id="{{ os }}-download-callback"] + .download-toggle:after { content: attr(data-show-text); }
input[id="{{ os }}-download-callback"]:checked + .download-toggle:after { content: attr(data-hide-text); }
input[id="{{ os }}-download-callback"]:checked + .download-toggle + span + div > .download-content {
    padding: 5px;
    padding-left: 20px;
    margin: 20px;
    font-size: 1rem;
    opacity: 1.0;
    transition: opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), font-size 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), padding 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), margin 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    user-select: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
}
input[id="{{ os }}-download-callback"]:checked + .download-toggle + span + div > .download-content:hover {
    background-color: #9ccbd8;
}
{% endfor %}

input[id="recommended-download-callback"] {
    float: right;
    display: none;
}

input[id="recommended-download-callback"] + .download-toggle:after { content: attr(data-show-text); }
input[id="recommended-download-callback"]:checked + .download-toggle:after { content: attr(data-hide-text); }
input[id="recommended-download-callback"]:checked + .download-toggle + span + div > .download-content {
    padding: 5px;
    padding-left: 20px;
    margin: 20px;
    font-size: 1rem;
    opacity: 1.0;
    transition: opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), font-size 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), padding 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), margin 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    user-select: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
}
input[id="recommended-download-callback"]:checked + .download-toggle + span + div > .download-content:hover {
    background-color: #9ccbd8;
}

.download-content {
    background-color: #83bece;
    display: flex;
    flex-direction: row;

    margin: 0px;
    font-size: 0;
    opacity: 0;
    transition: opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), font-size 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), padding 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), margin 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.download-content:hover {
    background-color: #9ccbd8;
}

iframe {
    min-height: initial !important;
    max-height: 167px !important;
    max-width: 552px !important;
    min-width: initial !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 7px !important;
}

#iframeframe {
    height: 167px !important;
    margin-bottom: 14px !important;
}
