/* inspired by https://css-tricks.com/targetting-menu-elements-submenus-navigation-bar/ */

.left-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 0;
    // IE 11 workaround
    // https://github.com/philipwalton/flexbugs#flexbug-7
    // https://github.com/philipwalton/flexbugs#flexbug-8
    //flex-basis: calc(100% - #{$right-tools-width});
    flex-basis: auto;
}

.left-nav > ul {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.right-nav {
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: $right-tools-width;
}

.nav-menu {
    font-size: 18px;
    white-space: nowrap;

    > .left-nav li {
        position: relative;
        height: 26px;
        padding: 12px 0px;

        &:before {
            content: '|';
            color: white;
         }

        &:first-child:before {
           content: '';
        }

        > a {
            color: white;
            margin: 0px 10px;
            padding: 16px 0px;

            &:hover {
                text-decoration: none;
                color: orange;
            }
        }

        .donate-top-menu-link{
            color: #f34ae4;
        }

        a:first-child:nth-last-child(2):before {
            position: absolute;
            top: 50%;
            height: 0px;
            width: 0px;
            content: '';
        }
    }
}

div.nav-menu {
    display: flex;
}

nav {
    input[type=checkbox] {
        display: none;
    }

    input[type=checkbox]:checked.dropdown-trigger ~ .toolbox {
        display: block !important;
    }

    // Toolbox hidden by default
    .toolbox {
        display: none;
    }
}

@media screen and (max-width: $screen-medium-res) {
    nav {
        input[type=checkbox]:checked.dropdown-trigger ~ .nav-menu {
            display: block !important;
        }
    }
}

/* Searchbox at the top right */
.nav-menu .right-nav > div.searchform {
    margin: 10px;
    border-radius: 4px;
    background-color: #ADADAD;

    button.fa-search {
        font-size: 18px;
        background: none;
        border: none;
        color: #4D4D4D;
    }

    input {
        height: 20px;
        width: calc(100% - 40px);
        /* clean defaults */
        background: transparent;
        border: none;
        margin: 4px;
    }

    &:before {
        content: '';
    }
}


/* mobile navbar */

.toggle-mobile-navbar {
    display: none;
}

@media screen and (max-width: $screen-medium-res) {
    .left-nav {
        flex-direction: column;
    }
    .left-nav > ul {
        flex-direction: column;
    }

    .nav-menu {
        position: absolute;
        left: 50%;
        transform: translate(-50%, $nav-bar-height);
        width: auto;
        background-color: #111;
        z-index: 1;

        > .left-nav li {
            width: 100%;

            &:before {
                content: '';
            }
        }
    }

    div.nav-menu {
        display: none; // The dropdown is hidden by default
    }

    .toggle-mobile-navbar {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0px);
        display: flex;
        align-items: center;
        color: white;
        height: 100%;
    }

    .nav-menu .right-nav > div.searchform {
        display: flex;
        flex-grow: 1;
        max-width: 100%;
    }
}
