<!DOCTYPE html>
<html class="client-nojs" lang="{{ page.lang | replace: '_', '-' }}" dir="ltr">
<head>
<meta charset="UTF-8"/>
<title>{{ page.title }}</title>
<link rel="stylesheet" href="{{ '/assets/css/supertuxkart.css?v=' | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ '/assets/css/fontawesome.css?v=' | prepend: site.baseurl }}">
<link rel="shortcut icon" href="{{ '/assets/images/favicon.png' | prepend: site.baseurl }}">
<meta name="viewport" content="user-scalable = yes">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:site_name" content="{%translate SuperTuxKart%}">
<meta property="og:description" content="{%translate "SuperTuxKart is a 3D open-source arcade racer with a variety characters, tracks, and modes to play."%}">
<meta property="og:locale" content="{{ page.lang }}">
<meta property="og:image" content="{{ '/assets/images/logo.png' | prepend: site.baseurl }}"/>
</head>

<body>
<div class="header_wrapper">
<div class="header_color_wrapper_outer">
<div class="header_color_wrapper_inner size-dependend-margin">
<div class="navigation-tools">
<nav>
    <label for="toggle-mobile-navbar" class="toggle-mobile-navbar"><i class="fa fa-bars" style="margin-right: 5px"></i>{%translate_span Menu,Drop down menu when viewing SuperTuxKart homepage in mobile device%}</label>
    <input type="checkbox" role="button" id="toggle-mobile-navbar" class="dropdown-trigger" aria-pressed="true">
    <ul class="nav noselect dropdown-target">
        <li><a href={% include translate_url url="Discover" %}>{%translate_span Discover%}</a></li>
        <li><a href={% include translate_url url="Download" %}>{%translate_span Download%}</a></li>
        <li><a href={% include translate_url url="FAQ" %}>{%translate_span FAQ%}</a></li>
        <li><a href={% include translate_url url="Community" %}>{%translate_span Get Involved%}</a></li>
        <li><a href="https://blog.supertuxkart.net/">{%translate_span Blog%}</a></li>
        <li><a class="donate-top-menu-link" href={% include translate_url url="Donate" %}>{%translate_span Donate%} <i class="fa fa-heart"></i></a></li>
    </ul>
</nav>

<a class="logo noselect" href={% include translate_url url="Main_Page" %} title="{%translate Visit the main page%}">
    <img src="{{ '/assets/images/logo.png' | prepend: site.baseurl }}" alt="SuperTuxKart"/>
</a>

</div>
</div>
</div>
</div>

<div class="main-content-wrapper size-dependend-margin">
<div class="content_wrapper">
<article>
{% include git-wiki/components/search/index.html %}
{{ content }}
</article>
</div>
</div>

<footer class="size-dependend-margin ">
<div class="footer-links">
    <div><p>{%translate_span Community%}</p>
    <ul>
        <li><a href='https://forum.freegamedev.net/viewforum.php?f=16'>{%translate_span Forum%}</a></li>
        <li><a href='https://blog.supertuxkart.net/'>{%translate_span Blog%}</a></li>
        <li><a href='https://twitter.com/supertuxkart'>{%translate_span Twitter%}</a></li>
        <li><a href='https://online.supertuxkart.net/'>{%translate_span Addons,Clicking Addons will go to online.supertuxkart.net%}</a></li>
        <li><a href='https://t.me/STKInternational/'>{%translate_span Telegram%}</a></li>
        <li><a href='https://web.libera.chat/?channels=#supertuxkart'>irc: #supertuxkart@libera</a></li>
    </ul>
    </div>
    <div><p>{%translate_span Media%}</p>
    <ul>
        <li><a href='https://www.youtube.com/channel/UCJ9hmn6MG_ggpQUhmbMS2mQ'>{%translate_span YouTube%}</a></li>
        <li><a href={% include translate_url url="Gallery" %}>{%translate_span Gallery%}</a></li>
        <li><a href={% include translate_url url="Posters" %}>{%translate_span Posters%}</a></li>
    </ul>
    </div>
    <div><p>{%translate_span Development%}</p>
    <ul>
        <li><a href={% include translate_url url="Community" %}>{%translate_span Modding,Clicking Modding will go to Commuity page%}</a></li>
        <li><a href='https://github.com/supertuxkart/stk-code'>{%translate_span GitHub%}</a></li>
        <li><a href='https://doxygen.supertuxkart.net/'>{%translate_span Documentation,Clicking Documentation will go to SuperTuxKart doxygen%}</a></li>
    </ul>
    </div>
    <div><p>{%translate_span About us%}</p>
    <ul>
        <li><a href={% include translate_url url="FAQ" %}>{%translate_span FAQ%}</a></li>
        <li><a href={% include translate_url url="Team" %}>{%translate_span About the team,Clicking About the team will go to a page which show SuperTuxKart team member infos%}</a></li>
        <li><a href={% include translate_url url="Discover" %}>{%translate_span About SuperTuxKart%}</a></li>
        <li><a href={% include translate_url url="Projects" %}>{%translate_span Projects using SuperTuxKart%}</a></li>
    </ul>
    </div>
</div>

<div class="footer-copyright">
Site designed by Jean-Manuel Cl&eacute;men&ccedil;on & Konstin<br />
Powered by <a href="https://jekyllrb.com">Jekyll</a><br /><br />
SuperTuxKart Team © {{ site.time | date: '%Y' }}
</div>

</footer>

<script src="{{ '/assets/js/lang_redirect.js' | relative_url }}"></script>
</body>
</html>
