<!DOCTYPE html>
<html class="client-nojs" lang="{{ page.lang | replace: '_', '-' }}" dir="ltr">
<head>
<meta charset="UTF-8"/>
<title>{{ page.title }}</title>
<link rel="stylesheet" href="{{ '/assets/css/supertuxkart.css?v=' | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ '/assets/css/fontawesome.css?v=' | prepend: site.baseurl }}">
<link rel="shortcut icon" href="{{ '/assets/images/favicon.png' | prepend: site.baseurl }}">
<meta name="viewport" content="user-scalable = yes">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:site_name" content="{% include translate id="stk" %}">
<meta property="og:description" content="{% include translate id="description" %}">
<meta property="og:locale" content="{{ page.lang }}">
<meta property="og:image" content="{{ '/assets/images/logo.png' | prepend: site.baseurl }}"/>
</head>

<body>
<div class="header_wrapper">
<div class="header_color_wrapper_outer">
<div class="header_color_wrapper_inner size-dependend-margin">
<div class="navigation-tools">
<nav>
    <label for="toggle-mobile-navbar" class="toggle-mobile-navbar"><i class="fa fa-bars" style="margin-right: 5px"></i>{% include translate_span id="menu" %}</label>
    <input type="checkbox" role="button" id="toggle-mobile-navbar" class="dropdown-trigger" aria-pressed="true">
    <ul class="nav noselect dropdown-target">
        <li><a href={% include translate_url url="Discover" %}>{% include translate_span id="discover" %}</a></li>
        <li><a href={% include translate_url url="Download" %}>{% include translate_span id="download" %}</a></li>
        <li><a href={% include translate_url url="FAQ" %}>{% include translate_span id="faq" %}</a></li>
        <li><a href={% include translate_url url="Community" %}>{% include translate_span id="get_involved" %}</a></li>
        <li><a href="https://blog.supertuxkart.net/">{% include translate_span id="blog" %}</a></li>
        <li><a class="donate-top-menu-link" href={% include translate_url url="Donate" %}>{% include translate_span id="donate" %} <i class="fa fa-heart"></i></a></li>
    </ul>
</nav>

<a class="logo noselect" href={% include translate_url url="Main_Page" %} title="{% include translate id="visit_mainpage" %}">
    <img src="{{ '/assets/images/logo.png' | prepend: site.baseurl }}" alt="SuperTuxKart"/>
</a>

</div>
</div>
</div>
</div>

<div class="main-content-wrapper size-dependend-margin">
<div class="content_wrapper">
<article>
{% include git-wiki/components/search/index.html %}
{{ content }}
</article>
</div>
</div>

<footer class="size-dependend-margin ">
<div class="footer-links">
    <div><p>{% include translate_span id="community" %}</p>
    <ul>
        <li><a href='https://forum.freegamedev.net/viewforum.php?f=16'>{% include translate_span id="forum" %}</a></li>
        <li><a href='https://blog.supertuxkart.net/'>{% include translate_span id="blog" %}</a></li>
        <li><a href='https://twitter.com/supertuxkart'>{% include translate_span id="twitter" %}</a></li>
        <li><a href='https://online.supertuxkart.net/'>{% include translate_span id="addons" %}</a></li>
        <li><a href='https://t.me/STKInternational/'>{% include translate_span id="telegram" %}</a></li>
        <li><a href='https://web.libera.chat/?channels=#supertuxkart'>irc: #supertuxkart@libera</a></li>
    </ul>
    </div>
    <div><p>{% include translate_span id="media" %}</p>
    <ul>
        <li><a href='https://www.youtube.com/channel/UCJ9hmn6MG_ggpQUhmbMS2mQ'>{% include translate_span id="youtube" %}</a></li>
        <li><a href={% include translate_url url="Gallery" %}>{% include translate_span id="gallery" %}</a></li>
        <li><a href={% include translate_url url="Posters" %}>{% include translate_span id="posters" %}</a></li>
    </ul>
    </div>
    <div><p>{% include translate_span id="development" %}</p>
    <ul>
        <li><a href={% include translate_url url="Community" %}>{% include translate_span id="modding" %}</a></li>
        <li><a href='https://github.com/supertuxkart/stk-code'>{% include translate_span id="github" %}</a></li>
        <li><a href='https://doxygen.supertuxkart.net/'>{% include translate_span id="documentation" %}</a></li>
    </ul>
    </div>
    <div><p>{% include translate_span id="about_us" %}</p>
    <ul>
        <li><a href={% include translate_url url="FAQ" %}>{% include translate_span id="faq" %}</a></li>
        <li><a href={% include translate_url url="Team" %}>{% include translate_span id="about_the_team" %}</a></li>
        <li><a href={% include translate_url url="Discover" %}>{% include translate_span id="about_stk" %}</a></li>
        <li><a href={% include translate_url url="Projects" %}>{% include translate_span id="projects_using_stk" %}</a></li>
    </ul>
    </div>
</div>

<div class="footer-copyright">
Site designed by Jean-Manuel Cl&eacute;men&ccedil;on & Konstin<br />
Powered by <a href="https://jekyllrb.com">Jekyll</a><br /><br />
SuperTuxKart Team © {{ site.time | date: '%Y' }}
</div>

</footer>

<script src="{{ '/assets/js/lang_redirect.js' | relative_url }}"></script>
</body>
</html>
